@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Poppins";
  scroll-behavior: smooth;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000000a;
  border-bottom: 1px solid #7318c952;
  padding: 0 60px;
}

.header-logo {
  height: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins";
  cursor: pointer;
}

.header-logo a {
    text-decoration: none;
    color: #000;
}

.header-logo span {
  color: #7318c9;
  font-size: 18px;
}

.header-logo:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.options {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 30px;
}

.options a {
  text-decoration: none;
  color: #000;
}

.options li:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.icon a {
  color: #000;
}

.icon a:hover {
  transition: 0.3s;
  color: #7c3aed;
}

.search-box {
  display: flex;
  background-color: #00000011;
  border-radius: 20px;
  width: 220px;
  margin-right: 45px;
}

.search-box input {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background: transparent;
  width: 220px;
  outline: none;
}

.search-box button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 15px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.search-box button:hover {
  transition: 0.2s ease-in-out;
  background: linear-gradient(to right, rgb(115, 24, 201), #55006e);
}

.search-box:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.header-section {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #7318c952;
}

.header-img {
  height: 50vh;
  width: 45%;
  background-image: url(../Imagens/tenis1.jpeg);
  background-position: center;
  background-size: contain;
}

.header-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.header-txt-disclaimer {
  background-image: linear-gradient(to right, #7318c9, #55006e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-txt-disclaimer h1 {
  font-size: 48px;
}

.header-txt-disclaimer h3 {
  font-size: 16px;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 3em;
  width: 12.5em;
  border-radius: 24px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #7318c9, #55006e);
}

.header-btn:hover {
  transition: 0.2s linear;
  transform: scale(1.05);
  box-shadow: 0 0 15px #4e006194;
}

.header-btn a {
  text-decoration: none;
  color: #fff;
}

.itens-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: #0000000a;
  padding: 40px;
}

.card-itens {
  background: #ffffff;
  width: 220px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px;
}

.card-itens:hover {
  box-shadow: 0 10px 20px #0000002a;
  transform: translateY(-5px);
}

.img-box {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.img-box.prod {
  height: 220px;
  border-radius: 16px;
  margin-bottom: 5px;
}

.img-box.prod:hover {
  box-shadow: 0 0 15px #0000003a;
  transition: 0.3s;
}

.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.img-default {
  opacity: 1;
  z-index: 1;
}

.img-hover {
  opacity: 0;
  z-index: 2;
}

.product-card:hover .img-default {
  opacity: 0;
}

.product-card:hover .img-hover {
  opacity: 1;
}

.card-itens:hover img {
  transform: scale(1.05);
}

.product-card:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 15px #0000003a;
}

.card-itens p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000000a;
  padding-top: 25px;
}

.brand-container {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 50px;
  scroll-snap-type: x mandatory;
}

.brand-container::-webkit-scrollbar {
  display: none;
}

.card-brand {
  min-width: 80px;
  flex-shrink: 0;
  cursor: pointer;
  scroll-snap-align: start;
}

.card-brand:hover {
  box-shadow: 0 0 15px #0000003a;
  transform: scale(1.1);
  transition: 0.2s;
}

.card-brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  margin-top: 10px;
}

.card-brand span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.card-brand {
  background: #ffffff;
  height: 100px;
  width: 100px;
  margin-top: 25px;
  border-radius: 50%;
  text-align: center;
}

.prod-section {
  background: #0000000a;
  padding: 80px 40px;
  text-align: center;
}

.prod-section h2 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 60px;
  background-image: linear-gradient(to right, #7318c9, #55006e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prod-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.product-card {
  width: 220px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card a{
  text-decoration: none;
  color: #000;
}

.stars {
  font-size: 14px;
  margin-bottom: 10px;
}

.stars span {
  color: #888;
  font-size: 12px;
}

.product-card h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contato {
  background: #0000000a;
  padding: 100px;
}

.texto-centro {
  background-image: linear-gradient(to right, #7318c9, #55006e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.texto-centro h4 {
  font-size: 22px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  padding: 50px;
  border-radius: 8px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.966);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0);
  margin-left: 30%;
}

.campo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cpf {
  margin-bottom: 45px;
}

.campo label {
  width: 180px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
}

.campo input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
}

.ddd {
  width: 78px;
}

label p {
  margin-left: 4px;
  color: #d43737;
}

.letra {
  width: 180px;
  color: white;
  font-weight: bold;
}

.apertar {
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(to right, #7318c9, #55006e);
  width: 45%;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #7318c970;
  transition: 0.3s ease-in-out;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-top: 1px solid #7318c952;
  border-bottom: 1px solid #7318c952;
  padding: 20px 25px;
  background-color: #0000000a;
}

.footer-col {
  min-height: 100px;
  text-align: center;
}

.footer-col ul {
  list-style: none;
  padding: 10px;
  text-align: left;
}

.footer-col ul a {
  text-decoration: none;
  color: #000000a9;
}

.footer-col ul a:hover {
  color: #000;
  text-decoration: underline;
  transition: 0.2s;
}

.payment-container {
  display: flex;
  justify-content: center;
}

.payment-card {
  width: 48px;
  height: 34px;
  background-size: auto 100%;
  margin-right: 3px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.master {
  background-image: url(../Imagens/mastercard.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.elo {
  background-image: url(../Imagens/elo.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.visa {
  background-image: url(../Imagens/visa.svg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.pix {
  background-image: url(../Imagens/pix.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.footer-row {
  padding: 15px;
  text-align: center;
  background-color: #0000000a;
}

.footer-row p {
  color: #000000a9;
  font-size: 12px;
}

.footer-row span {
  font-weight: 600;
}
